* {
  margin: 0;
  padding: 0;
}

.mb-md, .page-title, #about p, #item .item-text p {
  margin-bottom: 30px;
}

.ft-md, body, .page-title {
  font-size: 0.875rem;
}

.tr, #navi, .toggle_btn, .toggle_btn span, #mask {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

html {
  font-size: 100%;
}

body {
  color: #333;
  min-height: 100vh;
  position: relative;
}

img {
  max-width: 100%;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover {
  opacity: 0.5;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

.content {
  padding-top: 120px;
  padding-bottom: 160px;
}

.site-title a {
  width: 180px;
  line-height: 1px;
  display: block;
}

.page-title {
  font-weight: normal;
}

.link-text {
  text-align: center;
  display: block;
}

#header {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  background-color: #fff;
}

#navi {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  opacity: 0;
  z-index: 20;
  padding: 36px 50px;
  color: #fff;
}

#navi li {
  margin-bottom: 14px;
}

#navi a {
  color: #fff;
}

.open #navi {
  left: 0;
  opacity: 1;
}

.toggle_btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 20px;
  cursor: pointer;
}

.toggle_btn span {
  background-color: black;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  border-radius: 4px;
}

.toggle_btn span:nth-child(1) {
  top: 10px;
}

.toggle_btn span:nth-child(2) {
  bottom: 9px;
}

.open .toggle_btn span {
  background-color: #fff;
}

.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(4px) rotate(-45deg);
          transform: translateY(4px) rotate(-45deg);
}

.open .toggle_btn span:nth-child(2) {
  -webkit-transform: translateY(-4px) rotate(45deg);
          transform: translateY(-4px) rotate(45deg);
}

.open #mask {
  display: block;
  position: fixed;
  opacity: 0.8;
  background: black;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#mask {
  display: none;
}

#top {
  padding-top: 80px;
  padding-bottom: 160px;
}

#top .item-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#top .item-menu li {
  margin-bottom: 40px;
  width: 23%;
}

#top .item-menu img {
  vertical-align: top;
  margin-bottom: 10px;
}

#top .item-menu p {
  font-size: 0.75rem;
}

#products .products-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#products .products-menu li {
  margin-bottom: 40px;
  width: 23%;
}

#products .products-menu img {
  vertical-align: top;
  margin-bottom: 10px;
}

#products .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#products .pagination li {
  padding: 0 20px;
}

#about {
  max-width: 600px;
}

#about p {
  line-height: 1.9;
}

#company {
  width: 600px;
}

#company dl {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#company dt {
  width: 23%;
  border-bottom: solid 1px #dfdbdb;
  padding: 20px 10px;
}

#company dt:last-of-type {
  border-bottom: none;
}

#company dd {
  width: 70%;
  border-bottom: solid 1px #dfdbdb;
  padding: 20px 10px;
}

#company dd:last-of-type {
  border-bottom: none;
}

#company .map {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#company .map iframe {
  width: 100%;
  height: 300px;
  border: 0;
}

#item {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

#item .item-img {
  width: 50%;
  height: 400px;
}

#item .item-text {
  width: 42%;
}

#item .item-text dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#item .item-text dl dt {
  width: 30%;
}

#item .item-text dl dd {
  width: 70%;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 20px;
  position: absolute;
  left: 0;
  right: 0;
}

#footer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .menu li {
  margin-right: 30px;
}

#footer .menu li a {
  font-size: 0.75rem;
}

#footer .copyright {
  font-size: 0.5rem;
}
/*# sourceMappingURL=style.css.map */