$cFontColor: #333;
$cBlack: black;
$cWhite: #fff;

* {
  margin: 0;
  padding: 0;
}

// 複数使うクラス
.mb-md {
  margin-bottom: 30px;
}

.ft-md {
  font-size: 0.875rem;
}

.tr {
  transition: all 0.5s;
}

html {
  font-size: 100%;
}

body {
  color: $cFontColor;
  @extend .ft-md;
  min-height: 100vh;
  position: relative;
}

img {
  max-width: 100%;
}

a {
  color: $cFontColor;
  text-decoration: none;
  transition: all 0.5s;

  &:hover {
    opacity: 0.5;
  }
}

li {
  list-style: none;
}

// コンテンツ幅を共通化するclass //
.wrapper {
  width: 100%;
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
}

.content {
  padding-top: 120px;
  padding-bottom: 160px;
}

.site-title a {
  width: 180px;
  line-height: 1px;
  display: inline-block;
}

.page-title {
  @extend .ft-md;
  @extend .mb-md;
  font-weight: normal;
}

.link-text {
  text-align: center;
  display: block;
}

//----- ヘッダー -----//
#header {
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 10;
  background-color: $cWhite;
}

#navi {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  opacity: 0;
  z-index: 20;
  padding: 36px 50px;
  color: $cWhite;
  @extend .tr;

  li {
    margin-bottom: 14px;
  }
}

.open #navi {
  left: 0;
  opacity: 1;

}

.toggle_btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 20px;
  @extend .tr;
  cursor: pointer;

  & span {
    background-color: $cBlack;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    border-radius: 4px;
    @extend .tr;

    &:nth-child(1) {
      top: 10px;
    }
    &:nth-child(2) {
      bottom: 9px;
    }


  }
}

  // openクラスイベントが追加された時
.open .toggle_btn span {
  background-color: $cWhite;

  &:nth-child(1) {
    transform: translateY(4px) rotate(-45deg);
  }
  &:nth-child(2) {
    transform: translateY(-4px) rotate( 45deg);
  }

  #mask {
    display: block;
    position: fixed;
    opacity: 0.8;
    background: $cBlack;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

#mask {
  display: none;
  @extend .tr;
}


#top {
  padding-top: 80px;
  padding-bottom: 160px;

  & .item-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      margin-bottom: 40px;
      width: 23%;
    }

    img {
      vertical-align: top;
      margin-bottom: 10px;
    }

    p {
      font-size: 0.75rem;
    }
  }
}


//-- プロダクト一覧ページ --//
#products {
  & .products-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      margin-bottom: 40px;
      width: 23%;
    }

    img {
      vertical-align: top;
      margin-bottom: 10px;
    }
  }

  & .pagination {
    display: flex;
    justify-content: center;

    li {
      padding: 0 20px;
    }
  }
}

//-- サイトについてのページ --//
#about {
  max-width: 600px;

  p {
    line-height: 1.9;
    @extend .mb-md;
  }
}

//-- 会社についてのページ --//
#company {
  width: 600px;

  dl {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: left;
  }

  dt {
    width: 23%;
    border-bottom: solid 1px rgb(223, 219, 219);
    padding: 20px 10px;

    &:last-of-type {
      border-bottom: none;
    }
  }

  dd {
    width: 70%;
    border-bottom: solid 1px rgb(223, 219, 219);
    padding: 20px 10px;

    &:last-of-type {
      border-bottom: none;
    }
  }

  & .map {
    filter: grayscale(1);

    iframe {
      width: 100%;
      height: 300px;
      border: 0;
    }
  }
}

//--- 商品詳細ページ ---//
#item {
  width: 800px;

  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  & .item-img {
    width: 50%;
    height: 400px;
  }

  & .item-text {
    width: 42%;
    // text-align: justify;

    p {
      @extend .mb-md;
    }

    dl {
      display: flex;
      flex-wrap: wrap;

      dt {
        width: 30%;
      }
  
      dd {
        width: 70%;
      }
    }
  }
}

//--- フッター ---//
#footer {
  display: flex;
  justify-content: space-between;
  bottom: 20px;
  position: absolute;
  left: 0;
  right: 0;

  & .menu {
    display: flex;

    li {
      margin-right: 30px;

      a {
        font-size: 0.75rem;
      }
    }
  }

  & .copyright {
    font-size: 0.5rem;
  }
}